body {
    background-color: grey;
    background-image: url("/img/stars.gif");
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

.header {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 64px;
    background-image: url("/img/flames.gif");
}

h1 {
    color: lightskyblue;
    margin: 0;
    box-sizing: border-box;
    padding: 20px 0 80px 0;
    filter:drop-shadow(15px 15px 15px orange)
}

h1:hover {
    color: orange;
}

.important {
    background-color: black;
    color: red;
    font-style: italic;
}

.important:hover {
    background-color: red;
    color: black;
}

.shows img {
    box-sizing: border-box;
    position: relative;
    top: 13px;
}

.sidebar {
    float: left;
    width: 32vw;
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    border: 3px solid red;
    padding: 5px;
    margin-left: 1vw;
    background-color: bisque;
    text-align: center;
    cursor: src("/img/cursor.cur");
}

.shows ul {
    width: 90%;
    margin: 0 auto;
    list-style-type: "\1F44D";
}

.shows li {
    color: purple;
}

.uhoh {
    list-style-type: "\1F44E";
}

.mysterious {
    font-style: italic;
    opacity: 50%;
}

.images {
    float: left;
    width: 32vw;
    padding: 0;
    box-sizing: border-box;
    margin-left: 1vw;
    
}

.images img {
    border-radius: 10%;
    border: 3px solid red;
    margin: 0 0 2vw 0;
}

.about {
    float: left;
    display: block;
    box-sizing: border-box;
    overflow: scroll;
    width: 31vw;
    height: 75vh;
    margin-left: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: bisque;
    border: 3px solid red;
    padding: 1vw;

}

.about p {
    margin: 0 1vw 1vw 1vw;
}

img {
    max-width: 100%;
}

.friday {
    display: block;
    position: sticky;
    bottom: 0px;
    right: 90vw;
}